<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Eclipse/Tycho Module"
            icon="icons/newftrprj_wiz.gif"
            class="eu.hohenegger.modulebuilder.ui.wizard.NewP2UpdateSiteWizard"
            id="eu.hohenegger.modulebuilder.ui.wizard.NewP2UpdateSiteWizard">
      </wizard>
   </extension>

<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="view-model/Module.view"/>
</extension>
</plugin>
